<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> <%= link_to t('.back', :default => t("helpers.links.back")), posts_path, :class => 'btn btn-default'%> </h1>
</div>
<div class="container">
    
  <div class="row">
    
    <div class="col-lg-8">

        <h1 class="mt-4"><%= @post.title %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'btn btn-default' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@post), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
        <%= link_to "Destroy", trash_index_path, :class => 'btn btn-info' %></h1>

        <hr>

        <p>Posted on: <%= @post.created_at %></p>
        <hr>
        
        <p class="lead"><%= @post.body %></p>

        <hr>

        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <%= render partial: 'comment' %>
          </div>
        </div>

        <hr>
        <% if @post.comments %>
          <% @post.comments.each do |comment| %>
            <% if comment.id %>
              <div class="media mb-4">
                <div class="media-body">
                  <%= comment.content %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_comment_path(comment), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), comment_path(comment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %>
                  <%= link_to "Destroy", trash_index_path, :class => 'btn btn-xs btn-info' %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

    </div>

  </div>

</div>